 /*


     not use

     for Vertical Tabs With Material Design Lite ( it is Material Design Lite version, not fit here)
      https://codepen.io/rahul-sagore/pen/WwZXGa




     in use
     
     https://codepen.io/hoogw/pen/yLeGPGx


    original scss
       https://codepen.io/jsamuel89/pen/aqNzEb

    we must use compiled version    



      .tabs-vertical {
    .tabs {
        height: auto;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        display: -webkit-flex;
        display: flex;
      
    }

    .tab {
        width: 100%;

        .active {
            -moz-transition: border-color .5s ease;
            -o-transition: border-color .5s ease;
            -webkit-transition: border-color .5s ease;
            transition: border-color .5s ease;
            border-right: 3px solid #424242;
        }

        :hover {
            border-right: 3px solid #eeeeee;
        }
    }

    .indicator {
        display: none;
    }
  
        .tab-content {
        display : none
      }
  
        > .tab-content .active{
        display : block
      }
} 


  */




  .tabs-vertical .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
  }
  .tabs-vertical .tab {
    width: 100%;
  }
  .tabs-vertical .tab .active {
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    transition: border-color .5s ease;
    border-right: 3px solid #424242;
  }
  .tabs-vertical .tab :hover {
    border-right: 3px solid #eeeeee;
  }
  .tabs-vertical .indicator {
    display: none;
  }
  .tabs-vertical .tab-content {
    display: block;
     /*  make tab content scrollable , by define height, then overflow: auto*/
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;


    overflow: auto;
    overflow-y: auto; 
    overflow-x: auto;
     /*  make tab content scrollable */
  
  }
  .tabs-vertical > .tab-content .active {
    display: block;
   
  }







  html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}








  #top {

        /* top do not define height */
        height: 15%;


                padding: 0;
                margin: 0;
              
                display: block; 
                overflow-y: auto; 
                overflow-x: auto;



              }

  #map {


        height: 85%;

                padding: 0;
                margin: 0;
              
                display: block; 
                overflow-y: auto; 
                overflow-x: auto;

              
              }




  #left_menu, #right_content {

      
                height: 100%;


                padding: 0;
                margin: 0;
              
                display: block; 
                overflow-y: auto; 
                overflow-x: auto;



              }
















                  /*
                  
                      dark mode

                      original
                      https://codepen.io/j_holtslander/pen/MRbpLX
                      https://codepen.io/j_holtslander/embed/MRbpLX?height=467&theme-id=dark&default-tab=result


                      fork
                      https://codepen.io/hoogw/pen/xxZePPY





                      ---------    scss (uncompiled)  ---------  

                      $transition-effects: color 1s ease, background-color 1s ease;

                      body {
                        background-color: #eee;
                        transition: $transition-effects;
                        &.dark {
                          background-color: #202123;
                          color: #fff;
                          nav {
                            background-color: #26A69A;
                          }
                          .card {
                            background-color: rgba(255,255,255,0.2);
                          }
                          .btn {
                            background-color: #EE6F73;
                          }
                          .divider {
                            opacity: 0.2;
                          }
                          .sidenav {
                            background-color: #2D2D31;
                            li {
                              a {
                                &:not(.subheader){
                                  color: #89B2F5;
                                  &:hover {
                                    background-color: #3B4043;
                                  }
                                }
                                &.subheader {
                                  color:#9AA0A6; 
                                }
                                .material-icons {
                                  color: #9AA0A6;
                                }
                              }
                            }
                          }
                          .collection {
                            border: 1px solid rgba(255,255,255,0.2);
                            .collection-item {
                              background-color: rgba(255,255,255,0.2);
                              border-bottom: 1px solid rgba(255,255,255,0.2);
                            }
                            
                            
                            .active {
                              background-color: rgba(233, 30, 99, 0.5);
                              
                            }
                          }







                          .tabs {
                            background-color: #2D2D31;
                            .tab {
                              
                              
                            }
                          }
		







                        }
                      }

                    ---------   end -----  scss (uncompiled)  ---------  



                  */

                              body {
                                background-color: #eee;
                                -webkit-transition: color 1s ease, background-color 1s ease;
                                transition: color 1s ease, background-color 1s ease;
                              }
                              body.dark {
                                background-color: #202123;
                                color: #fff;
                              }
                              body.dark nav {
                                background-color: #26A69A;
                              }
                              body.dark .card {
                                background-color: rgba(255, 255, 255, 0.2);
                              }
                              body.dark .btn {
                                background-color: #EE6F73;
                              }
                              body.dark .divider {
                                opacity: 0.2;
                              }
                              body.dark .sidenav {
                                background-color: #2D2D31;
                              }
                              body.dark .sidenav li a:not(.subheader) {
                                color: #89B2F5;
                              }
                              body.dark .sidenav li a:not(.subheader):hover {
                                background-color: #3B4043;
                              }
                              body.dark .sidenav li a.subheader {
                                color: #9AA0A6;
                              }
                              body.dark .sidenav li a .material-icons {
                                color: #9AA0A6;
                              }
                              body.dark .collection {
                                border: 1px solid rgba(255, 255, 255, 0.2);
                              }
                              body.dark .collection .collection-item {
                                background-color: rgba(255, 255, 255, 0.2);
                                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                              }


                              body.dark .collection .active {
                                background-color: rgba(233, 30, 99, 0.5);
                              }


                              body.dark .tabs {
                                background-color: #2D2D31;
                              }






                  /*
                  
                        ----  End  ----  dark mode

                  */

