
/*  for classified table only         socrata/dataset4/       dkan/dataset4/                 */



html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}





/*  ==========  all 1080p full HD and larger screen  > 1900px     ==========     */

/*
     use in : 


      8K Resolution 7680 x 4320, 

      4K Resolution 3840 x 2160, UHD, Ultra HD, 4K UHD, 4K resolution also has 4 times more pixels than 1080p

      1440p Resolution 2560 x 1440, Quad HD , 1440p is 4 times stronger than the base HD variant

      1080p Resolution 1920 x 1080, Full HD, FHD , 1080p is currently the standard resolution

      


*/






#map {
 
  padding-left: 20px;  /* at least 20px, to show left border line */
  padding-right: 20px; /* at least 15px, to show right border line */
  padding-top: 0px;
  padding-bottom: 10px;   /* */
}



.sidebar-container {


    position: fixed;
    height: 100%;         /* Full-height: remove this if you want "auto" height */
    width: 600px;       
    left: 0px;

    z-index: 1;           /* Stay on top */
    background-color:  /*  white -> */ rgba(245, 245, 245, .96);    
    

    overflow-x: auto;
    overflow-y: auto;
   
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  
  .content-container {


    position: fixed;
    height: 100%;
    width: 600px;  
    left: 600px;      
    
    

    z-index: 2;           /* Stay on top */
    background-color:     rgba(230, 230, 230, .96);  /* less white -> */             

    overflow-x: auto;
    overflow-y: auto;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
   
  }



  .right-sidebar-container {
  
    /* position: fixed;      Do not use , we need 3rd section dynamic , no matter full screen or not   */ 
       /* width:  100%;         Do not use , we need 3rd section dynamic , no matter full screen or not */  

    height: 100%;
   

    


    /* 
    
        full screen map, use margin left 0px, 
            must use "margin-left"  , keep map right bottom widget inside screen
              Can not use "left", otherwise will cause map right bottom widget out side of screen. 
    */
     margin-left: 1200px;  /*  in use, for Not Full Screen  600px + 600px  = 1200px */
    /* left: 1200px;   left only works when position is fixed */
     /*  margin-left: 0px;    /*  never use full screen in non-map-based, only map use full screen, place map underneath  */
   



    z-index: 0;           /* must at the bottom */
              
   /* background-color:   rgba(250, 250, 250, .96);    */
     
    

     overflow-x: auto;
     overflow-y: auto;
    
   

    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;

   
  }










  .floating_process_div{

    position: fixed;  /* fixed or absolute works ,   relative or empty not work  */
  
    width: 100%;  /* always , no matter what size the screen is  */
   
    background-color:  rgba(255, 255, 255, 0);
    border: 0px solid rgba(255, 255, 255, 0);
    z-index: 999;
    opacity: 0.6;
    /*float:left;*/
  
    overflow-x: auto;
    overflow-y: auto;
    
    left:  0px;  
    bottom:0px;
  
  }
  
  







        /*  ==========     responsive sidebar  ==========     */


               /* must place after those responsive-element */


                  /*  https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp */





                                  /* On screens that are less than 1900px wide, only the properties that changed, redefine here, by default, it will inheritage from parent level,
                                    so if property has no change, no need to list here, only list propeties that changed value. otherwise other properties, just use parent value above */







                                  @media screen and (max-width: 1900px) {

                                    /*  ==========   1400px  <   screen  < 1900px     ==========     */

                                    /*
                                          
                                          1680 × 1050   20- and 22-inch widescreen LCD monitors

                                    */



                                  

                                                          
                                            .sidebar-container {
                                              
                                              width: 500px;       /* left-width  */ 
                                              
                                            }

                                            .content-container {

                                              width: 500px;        /*  middle-width */
                                              left: 500px;  /* margin-left  =  left-width  */
                                              
                                            }



                                            .right-sidebar-container {
                                          
                                              margin-left: 1000px;  
                                              
                                            }

                                  }













                                  
                                  
                                  @media screen and (max-width: 1400px) {

                                    /*  ==========   900px  <   screen  < 1400px     ==========     */

                                    /*
                                          
                                          720p Resolution, 1280 x 720, HD, HD Ready, Standard HD, the lowest of the HD-capable resolutions

                                    */

                                               
                          
                                                        
                                                .sidebar-container {
                                                      width: 300px;       
                                                  
                                                }

                                                .content-container {

                                                  width: 300px;  
                                                  left: 300px;
                                                  
                                                }


                                                .right-sidebar-container {
                                              
                                                
                                                  margin-left: 600px;  
                                                  
                                                }

                                  }













                                             
                                              @media screen and (max-width: 900px) {

                                                 /*  ==========   500px  <   screen  < 900px     ==========     */

                                               
                          
                                                                    
                                                .sidebar-container {
                                                      width: 200px;       
                                                  
                                                }

                                                .content-container {

                                                  width: 200px;  
                                                  left: 200px;
                                                  
                                                }


                                                .right-sidebar-container {
                                              
                                                  margin-left: 400px;  
                                                 
                                                }

                                              }










                                               
                                                @media screen and (max-width: 500px) {

                                                 /*  ==========   250px  <   screen  < 500px     ==========     */

                                                  
                    

                                                                                                                  
                                                  .sidebar-container {
                                                        width: 100px;       
                                                    
                                                  }

                                                  .content-container {

                                                    width: 100px;  
                                                    left: 100px;
                                                    
                                                  }



                                                  .right-sidebar-container {
                                                
                                                    margin-left: 200px;  
                                                    
                                                  }

                                              }














                                  
                                  @media screen and (max-width: 250px) {

                                          /*  ==========   250px  <   screen  < 500px     ==========     */


                                                 

                                              
                                                .sidebar-container {
                                                  position: relative;
                                                  width: 100%;       
                                                  

                                                  
                                              
                                                }

                                                .content-container {

                                              

                                                  position: relative;
                                                  width: 100%; 
                                                  left: 0px;
                                                  
                                                
                                                }



                                                .right-sidebar-container {
                                              
                                                  margin-left: 0px;     

                                                }

                                  }


                                  



        /*  ==========  end    ==========   responsive sidebar  ==========     */


















        



                                      


                             

                        /*  -----  ------ json-editor customize color  ----------- */



                         

                              /*  
                                  highlight multiple keywords
                                   https://github.com/josdejong/jsoneditor/issues/1038
                                   https://github.com/josdejong/jsoneditor/blob/develop/examples/20_custom_css_style_for_nodes.html
                              */


                               /* warning  #jsoneditor_??? must match */


                              #jsoneditor .different_element {
                                background-color: #acee61;
                              }
                              #jsoneditor .different_element div.jsoneditor-field,
                              #jsoneditor .different_element div.jsoneditor-value {
                                color: red;
                              }

                            

                      





                          




                  /*

        

                      ======   special for data table only  ====== 







                                            json-editor customize header color
                                            https://github.com/josdejong/jsoneditor/issues/1040


                                            What you can do is give the containers where you attach the JSONEditors different classes:

                                                      <div class="editor1"></div>
                                                      <div class="editor2"></div>

                                                      then create different styling for the different containers:

                                                      div.editor1 div.jsoneditor-menu {
                                                        background-color: red;
                                                      }

                                                      div.editor2 div.jsoneditor-menu {
                                                        background-color: blue;
                                                      }

                                  */

 

                                              
                                                      #jsoneditor div.jsoneditor-menu {
                                                        background-color: #009688;
                                                        border: thin solid #009688;
                                                      }

                                                      #jsoneditor div.jsoneditor {
                                                          border: thin solid #009688;
                                                      }


                                                      /*  dark mode, overwrite property from black to grey */
                                                      #jsoneditor div.jsoneditor-field {
                                                        color: grey;
                                                      }
                                                      


                                   /*  -----  end ------ json-editor customize color  ----------- */











                  /*
                  
                      dark mode

                      original
                      https://codepen.io/j_holtslander/pen/MRbpLX
                      https://codepen.io/j_holtslander/embed/MRbpLX?height=467&theme-id=dark&default-tab=result


                      fork
                      https://codepen.io/hoogw/pen/xxZePPY



                      ---------    scss (uncompiled)  ---------  

                      $transition-effects: color 1s ease, background-color 1s ease;

                      body {
                        background-color: #eee;
                        transition: $transition-effects;
                        &.dark {
                          background-color: #202123;
                          color: #fff;
                          nav {
                            background-color: #26A69A;
                          }
                          .card {
                            background-color: rgba(255,255,255,0.2);
                          }
                          .btn {
                            background-color: #EE6F73;
                          }
                          .divider {
                            opacity: 0.2;
                          }
                          .sidenav {
                            background-color: #2D2D31;
                            li {
                              a {
                                &:not(.subheader){
                                  color: #89B2F5;
                                  &:hover {
                                    background-color: #3B4043;
                                  }
                                }
                                &.subheader {
                                  color:#9AA0A6; 
                                }
                                .material-icons {
                                  color: #9AA0A6;
                                }
                              }
                            }
                          }
                          .collection {
                            border: 1px solid rgba(255,255,255,0.2);
                            .collection-item {
                              background-color: rgba(255,255,255,0.2);
                              border-bottom: 1px solid rgba(255,255,255,0.2);
                            }
                            
                            
                            .active {
                              background-color: rgba(233, 30, 99, 0.5);
                              
                            }
                          }




                          .tabs {
                            background-color: #2D2D31;
                            .tab {
                              
                              
                            }
                          }
		





                        }
                      }

                    ---------   end -----  scss (uncompiled)  ---------  


                  */

                  body {
                    background-color: #eee;
                    -webkit-transition: color 1s ease, background-color 1s ease;
                    transition: color 1s ease, background-color 1s ease;
                  }
                  body.dark {
                    background-color: #202123;
                    color: #fff;
                  }
                  body.dark nav {
                    background-color: #26A69A;
                  }
                  body.dark .card {
                    background-color: rgba(255, 255, 255, 0.2);
                  }
                  body.dark .btn {
                    background-color: #EE6F73;
                  }
                  body.dark .divider {
                    opacity: 0.2;
                  }
                  body.dark .sidenav {
                    background-color: #2D2D31;
                  }
                  body.dark .sidenav li a:not(.subheader) {
                    color: #89B2F5;
                  }
                  body.dark .sidenav li a:not(.subheader):hover {
                    background-color: #3B4043;
                  }
                  body.dark .sidenav li a.subheader {
                    color: #9AA0A6;
                  }
                  body.dark .sidenav li a .material-icons {
                    color: #9AA0A6;
                  }
                  body.dark .collection {
                    border: 1px solid rgba(255, 255, 255, 0.2);
                  }
                  body.dark .collection .collection-item {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                  }

                  body.dark .collection .active {
                    background-color: rgba(233, 30, 99, 0.5);
                  }


                  body.dark .tabs {
                    background-color: #2D2D31;
                  }



           /* -------   special only for classify  style  -------   */

                  body.dark .sidebar-container {


                         background-color: rgba(50, 50, 50, .96);


                  }


                  body.dark .content-container {


                    background-color: rgba(30, 30, 30, .96);


                  }


                  body.dark .right-sidebar-container {


                    background-color: rgba(10, 10, 10, .96);


                  }



                 



                  body.dark .list {


                    background-color: rgba(0, 0, 0, .96);


                  }


                  body.dark .info_outline {


                    background-color: rgba(0, 0, 0, .96);


                  }




                  body.dark .btn-light {


                    background-color: rgba(0, 0, 0, .96);


                  }



          /*  -------   --- end --- special only for classify  style   -------  */

      /*
      
            ----  End  ----  dark mode

      */











     /*
      
          =============    time count down progress bar     =============   

          https://codepen.io/hoogw/pen/RwgmNNm

          https://stackoverflow.com/questions/24530908/showing-a-time-countdown-progress-bar
          https://codepen.io/Rudchyk/pen/qNOEGj


      */

      #ajax_getJson_processing {

        width: 100%; /* 80%; */
        margin: 10px auto;
        height: 50px;  /*  default normal size 22px  */
        background-color:   #0A5F44; 

      }
      




      #ajax_getJson_processing div {


        height: 100%;
        text-align: left; /* right; */
        padding: 0 10px;
        line-height: 50px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #9FE2BF; /* #CBEA00; */
        box-sizing: border-box;

        font-size: 50px;   /* timer number size*/

        color: #0A5F44; 


      }




      #ajax_image_loading_progressing {

        width: 100%; /* 80%; */
        margin: 10px auto;
        height: 50px;  /*  default normal size 22px  */
        background-color:   #0A5F44; 

      }
      




      #ajax_image_loading_progressing div {


        height: 100%;
        text-align: left; /* right; */
        padding: 0 10px;
        line-height: 50px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #FFBF00;
        box-sizing: border-box;

        font-size: 50px;   /* timer number size*/

        color: #0A5F44; 


      }


      #ajax_tile_loading_progressing {

        width: 100%; /* 80%; */
        margin: 10px auto;
        height: 50px;  /*  default normal size 22px  */
        background-color:   #0A5F44; 

      }
      




      #ajax_tile_loading_progressing div {


        height: 100%;
        text-align: left; /* right; */
        padding: 0 10px;
        line-height: 50px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #CCCCFF;
        box-sizing: border-box;

        font-size: 50px;   /* timer number size*/

        color: #0A5F44; 


      }





/*

=============    end        =============      time count down progress bar     =============   

*/

      